/* CONTENEDOR PRINCIPAL */
.detalle-contenedor {
    overflow: hidden;
    padding: 2rem;
}

/* POSTER */
.detalle-poster {
    float: left;
    width: 20%;
    padding: 1rem;
    text-align: center;
}

.detalle-poster img {
    width: 100%;
    border-radius: 0.75rem;
    border: 0.09rem solid #7c4dff;
}

#detalle-titulo {
    margin-top: 1rem;
    font-size: 1.5rem;
    color: #7c4dff;
    text-transform: uppercase;
}

/* SINOPSIS */
.detalle-sinopsis {
    float: left;
    width: 45%;
    padding: 1rem 2rem;
}

.detalle-sinopsis h2 {
    color: #7c4dff;
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.detalle-sinopsis p {
    color: #aaaaaa;
    font-size: 0.9rem;
    line-height: 1.8;
}

/* INFO */
.detalle-info {
    float: left;
    width: 35%;
    padding: 1rem;
}

.detalle-info h2 {
    color: #7c4dff;
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
    font-weight: bold;
}

.detalle-info p {
    font-size: 1rem;
    margin-bottom: 1rem;
    color: #ffffff;
}

.detalle-info strong {
    color: #ffffff;
    display: block;
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
}

.badge-genero {
    display: inline-block;
    background: transparent;
    border: 0.12rem solid #7c4dff;
    border-radius: 2rem;
    padding: 0.4rem 1.2rem;
    font-size: 0.85rem;
    font-weight: bold;
    color: #ffffff;
    margin-right: 0.5rem;
    margin-top: 0.25rem;
    text-transform: uppercase;
}

.badge-actor {
    display: inline-block;
    background: transparent;
    border: 0.12rem solid #7c4dff;
    border-radius: 0.5rem;
    padding: 0.4rem 1.2rem;
    font-size: 0.85rem;
    font-weight: bold;
    color: #ffffff;
    margin-right: 0.5rem;
    margin-top: 0.25rem;
    cursor: pointer;

}