/* CONTENEDOR PRINCIPAL */
.persona-contenedor {
    overflow: hidden;
    padding: 2rem;
}

/* FOTO */
.persona-foto {
    float: left;
    width: 20%;
    padding: 1rem;
    text-align: center;
}

.persona-foto img {
    width: 100%;
    border-radius: 50%;
    border: 0.09rem solid #7c4dff;
}

.persona-foto h1 {
    margin-top: 1rem;
    font-size: 1.2rem;
    color: #7c4dff;
    text-transform: uppercase;
}

.persona-foto ul {
    list-style: none;
    margin-top: 1rem;
    text-align: left;
}

.persona-foto ul li {
    font-size: 0.85rem;
    color: #aaaaaa;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    border-bottom: 0.06rem solid rgba(124, 77, 255, 0.3);
}

.persona-foto ul li strong {
    color: #7c4dff;
    display: block;
    margin-bottom: 0.2rem;
    font-size: 0.75rem;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
}

/* BIOGRAFÍA */
.persona-biografia {
    float: left;
    width: 45%;
    padding: 1rem 2rem;
}

.persona-biografia h2 {
    color: #7c4dff;
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.persona-biografia p {
    color: #aaaaaa;
    font-size: 0.9rem;
    line-height: 1.8;
    margin-bottom: 1rem;
}

.persona-biografia ul {
    list-style: disc;
    padding-left: 1.5rem;
    color: #aaaaaa;
    font-size: 0.85rem;
    line-height: 1.8;
}

.persona-biografia ul strong {
    color: #ffffff;
}

/* METRAJES */
.persona-metrajes {
    float: left;
    width: 35%;
    padding: 1rem;
}

.persona-metrajes h2 {
    color: #7c4dff;
    font-size: 1.2rem;
    margin-bottom: 1rem;
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px; 
}

.persona-metrajes h2:first-child {
    margin-top: 0;
}

/* LISTA DE METRAJES */
.metrajes-lista {
    list-style: none;
    overflow: hidden;
}

.metraje-card {
    float: left;
    width: 28%;
    margin: 0.5rem 2%;
    text-align: center;
    cursor: pointer;
}
.metraje-card img {
    width: 100%;
    aspect-ratio: 2/3;
    height: auto;
    object-fit: cover;
    border-radius: 0.5rem;
    border: 0.09rem solid #7c4dff;
}

.metraje-card span {
    display: block;
    font-size: 0.65rem;
    font-weight: 600;
    margin-top: 0.4rem;
    color: #ffffff;
    text-transform: uppercase;
}
